 h1 {
            color: black;
            text-align: center;
            font-size: 32px;
        }

        p {
            color: black;
            font-size: 18px;
            padding: 10px;
        }

        img {
            border: 5px solid blue;
            border-radius: 10px;
            width: 250px;
        }